* {
    margin: 0;
    padding: 0;
  }
  
  main {
    height: 100%;
    width: 100%;
  }

  main .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  main .main-container .login-form-section {
    width: 35%;
  }
  
  main .main-container .login-form-section .logo h1 {
    font-size: 70px;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  main .main-container .login-form-section .logo h1 span {
    margin-left: 5px;
  }
  
  main .main-container .login-form-section .login-box {
    border: 1px solid #d1d8dd;
    width: 365px;
    height: 400px;
    margin-top: 50px;
    margin-left: 100px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  
  main .main-container .login-form-section .login-box .form-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  
  main .main-container .login-form-section .login-box .form-header .dot {
    height: 8px;
    width: 8px;
    background-color: #5e64ff;
    border-radius: 50%;
    display: inline-block;
    margin-top: 4px;
    margin-right: 7px;
    margin-left: 150px;
  }
  
  main .main-container .login-form-section .login-box .form-header p {
    font-weight: bold;
  }
  
  main .main-container .login-form-section .login-box hr {
    border: 1px solid #d1d8dd;
    margin-top: 20px;
  }
  
  main .main-container .login-form-section .login-box .login-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  main .main-container .login-form-section .login-box .login-content #login_email, main .main-container .login-form-section .login-box .login-content #password {
    margin-top: 25px;
    margin-left: 30px;
    height: 28px;
    width: 300px;
    padding: 5px;
    border-radius: 6px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #51C4CC;
    font-size: 14px;
  }
  
  main .main-container .login-form-section .login-box .login-content #login_email:focus, main .main-container .login-form-section .login-box .login-content #password:focus {
    border: 3px solid #D7D8FF;
  }
  
  main .main-container .login-form-section .login-box .login-content #password {
    margin-top: 15px;
  }
  
  main .main-container .login-form-section .login-box .login-content .login-btn {
    height: 28px;
    width: 310px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #51C4CC;
    border-width: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
  }
  
  main .main-container .login-form-section .login-box .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  main .main-container .login-form-section .login-box .form-footer a {
    color: #8da9ce;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
  }
  
  main .main-container .image-section {
    width: 65%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/pexels-photo-2.jpeg");
  }


.btn.btn-login,
.btn.btn-login:active
{
	background-color: #23B14D;
}