@font-face {
  font-family: "Almarai";
  src: url("/assets/ui/fonts//Almarai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("/assets/ui/fonts//Almarai-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("/assets/ui/fonts//Almarai-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* Some fonts use numeric values for "bold" */
  font-style: normal;
}

@font-face {
  font-family: "Almarai";
  src: url("/assets/ui/fonts//Almarai-Light.ttf") format("truetype");
  font-weight: lighter; /* Some fonts use keywords for "light" */
  font-style: normal;
}
